<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <OS.Properties.Settings>
            <setting name="RealPagesCount" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TimerStartValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VirtualPagesCount" serializeAs="String">
                <value>16</value>
            </setting>
			<setting name="ProgramCodeSectionSymbol" serializeAs="String">
				<value>.code</value>
			</setting>
			<setting name="ProgramDataSectionSymbol" serializeAs="String">
				<value>.data</value>
			</setting>
			<setting name="ProgramEndSymbol" serializeAs="String">
				<value>HALT</value>
			</setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </OS.Properties.Settings>
    </applicationSettings>
</configuration>